.nf-content {
	background: #000000c9;
	width: 60%;
	margin: 0px auto;
	position:relative;
}

.nf-content .nf-list li {
	padding: 8px 0px;
	border-bottom: 2px solid #dc141e;
	width: 70%;
	position: relative;
	list-style: none;
}

.nf-content .nf-list label {
	color: white;
}

.nf-content .nf-list li span {
	position: absolute;
	right: 0px;
}

.nf-content .nf-list li i.material-icons {
	position: relative;
	top: 6px;
}
.nf-content .nf-spinner {
    position: absolute;
    left: 42%;
    top: 30%;
}