<div class="nf-content">

    <div [hidden]="!isLoading">
        <mat-progress-spinner
        
        class="nf-spinner"
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
</div>
   

    <mat-tab-group [hidden]="isLoading">
        <mat-tab label="Top trending movies"> 
            <div class="nf-list">
               <ul>
                <li *ngFor="let movie of trendsMovies,index as i">
                    <label><i class="material-icons">&#xe54d;</i> {{i+1}} - {{movie}}  
                         </label>
                </li>
                </ul>

                <div class="nf-form">
                    <button (click)="topTrending()" mat-raised-button><i class="material-icons">&#xe5d5;</i>UPDATE</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Top 10 similar movies"> 
            <div class="nf-list">
                <ul>
                    <li *ngFor="let movie of similarsMovies,index as i">
                        <label><i class="material-icons">&#xe54d;</i> {{i+1}} - {{movie}}  
                            </label>
                    </li>
                </ul>

                 
                    <div class="nf-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Movie title : </mat-label>
                          <input [(ngModel)]="title"  matInput  value="">
                        </mat-form-field>
                        <button (click)="similarMovies()" mat-raised-button><i class="material-icons">&#xe5d5;</i>UPDATE</button>
                    </div>
                
             </div>
        </mat-tab>
    </mat-tab-group>
</div>