/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label-content {
	color: white;
	font-weight: 400;
	font-size: 2em;
	text-shadow: 0px 0px 10px #000;
}

.mat-ink-bar {
	background-color: #dc141e !important;
}

.mat-tab-body-content {
	min-height: 550px;
}

div.nf-form {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

input#mat-input-0 {
	color: white;
}

label#mat-form-field-label-1 {
	color: white;
}

.mat-form-field-underline,
.mat-form-field-ripple {
	background-color: #dc141e !important;
}

button.mat-focus-indicator.mat-raised-button.mat-button-base {
	margin-left: 20px;
	border-radius: 2px;
	width: 95px;
	background: #fff0;
	color: #fff !important;
	font-weight: 500;
	border: 1px solid #fff;
}

.mat-button-wrapper i.material-icons {
	font-size: 19px;
	position: absolute;
	left: 6px;
	top: 8px;
}

span.mat-button-wrapper {
	padding-left: 15px;
}